body {
  background-color: purple;
  background-image: scr = (a-kaas-2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 10px
  padding: 5px
}
h1 {
  text-align: center;
  font-family: fantasy;
  font-style: oblique;
  border: 10px groove blue;
  border-radius: 100px 100px 100px 100px;
  margin: 5px
  padding: 5px
}
h2 {
  text-align: left;
  font-family: monospace;
  font-weight: normal;
  border: 10px groove blue;
  border-radius: 0px;
  margin: 20px
  padding 10px
}

h3{
  text-align: left;

  font-family: monospace;
  font-weight: normal;
  border: 10px groove blue;

}
h5{
  border: 10px groove blue;
  border-radius: 0px;
  font-family: monospace;

}
p{
  font-family: monospace;
}

.vraag{
color: Black
}

.antwoord{
  color: purple


}
.antwoord:hover{
  color:red
}

.uitleg{
font-style: italic

}
#menu li {
  display: inline;
  float: left;
}

#menu {
  margin: 0px;
  padding: 0px;
  background-color: purple;
  overflow: hidden;
  border: 7px solid;
}

#menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
}


#menu a:hover {
  background-color: blue;
  color: black
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
table th {
  border: 1px solid Black;
}
table td {
  border: 1px solid black;
}
.head {
  color: darkblue
}
